h2:nth-child(2n+3){
    color: darkgreen;    
    color: greenyellow;
    
}

h2:nth-child(2n+1) {
    color: hotpink;
}

h1{
    text-decoration: underline;
}
voorbeeld{
    color: blue;
    font-size: 20px;
}
img{
    padding-left: 100;
    border-radius: 25%;
    float: right;
    border: solid black 3px;
    
}
li{
    margin: 0;
    padding: 16px 0 16px 52px;
    list-style: none;
    background-image: url("../img/download.png");
    background-position: left center ;
    background-repeat: no-repeat;
    background-size: 32px;

}
#textinput1{
    background-color: yellow;
}
th{
    background-color: grey;
}
table, td{
    border: black solid 1px;
    
}
.content{
    margin-left: auto;
    margin-right: auto;
    width: 40em;
    background-color: burlywood;
    box-shadow: crimson 20px 30px;
    
}

