body{
    background-color: darkblue;
}
.myclass{
    width: 70%;
    margin: auto;
    background-color: white;
    border: solid black 1px;
    padding-left: 16px;
    padding-bottom: 32px;


}
.myclass table{
    width: 70%;
    border: dotted black 3px;
    margin: 16px auto;
}
.myclass th{
    background-color: gray;
}

.myclass tr:nth-child(2n+3){
    background-color: crimson;
}

img{
    
    width: 256px;
    height: 256px;
    border-radius: 50%;
    border: blue solid 2px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}